<h1>Articles</h1>

<% if @schedules.empty? %>
    <%= "Please Add Schedules" %>
<% else %> <table>
        <% @schedules.each do |schedule| %>
            <tr>
                <td>
                    <a href="/schedules/<%= schedule.id %>">
                        <%= schedule.date %>
                    </a>
                </td>
                <td>
                        <%= schedule.time %>
                </td>

                <td>
                        <%= schedule.total %>
                </td>
            </tr>
        <% end %>
    <table>
<% end %>


<%= link_to "Add Schedule", new_schedule_path  %>
    