<h1>New Schedule</h1>

<%= form_with model: @schedule do |form| %>
  <div>
    <%= form.label :date %><br>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.label :time %><br>
    <%= form.time_field :time %>
  </div>

  <div>
    <%= form.label :total %><br>
    <%= form.number_field :total, in: 300..3000 %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>