<h1><%= "Detailed Schedule" %></h1>
 <p><%= "date: " + @schedule.date.to_s %></p>
<p><%= "time: " + @schedule.time.to_s %></p>
<p><%= "total: " + @schedule.total.to_s %></p> 

<%= link_to "edit schedule", edit_schedule_path %>